table,tr,th,td{
	border: 2px solid black;
	border-collapse: collapse;
	font-size:225%;
}
table{
	
	width:50%;
	height:50%;
}
.bla{
	background-color:blue;
	color:blue;
}
.rod{
	background-color:red;
	color:red;
}
.gul{
	background:yellow;
	color:yellow;
}
.svart{
	background-color:black;
	color:black;
}
.gron{
	background-color:green;
	color:green;
}